*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: #fff;
    font-family: 'Poppins',sans-serif;
    overflow-x: hidden;
}

.container-fluid{
    /* overflow-x: hidden; */
    /* position: fixed; */
    padding: 10px 15px 10px 15px;
}

.offcanvas{
    background-color: black;
    transition: transform 0.3s ease-in-out;
}

.offcanvas-body::-webkit-scrollbar{
    width: 6px;
}

.offcanvas-body::-webkit-scrollbar-thumb{
    background: gray;
    border-radius: 10px;
}

.offcanvas-header{
    right: 30px;
    top: 15px;
}

.home{
    background-color: #121212;
    color:aliceblue;
}

.library{
    background-color: #121212;
    color: aliceblue;
    height: 73vh;
    position: relative;
}

.songList ol{
    overflow-y: scroll;
    height: 58vh;
    scrollbar-color: pink;
}

.songList ol::-webkit-scrollbar{
    width: 1px;
}

.songList ol::-webkit-scrollbar-thumb{
    background: gray;
}

.songList li{
    display:flex;
    gap: 20px;
    margin: 5px 0;
    padding: 5px 5px;
    cursor: pointer;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #fff;
}

.songList .left{
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 0 5px;
}

.songList .left .info{
    margin-left: 3px;
}

.info div{
    word-break: break-all;
}



.footer{
    font-size: 10px;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
    background-color: #121212;
}

.footer a{
    color: gray;
    font-size: 12px;
    margin: 3px;
}

.main-box{
    background-color: #121212;
    border-radius: 5px;
}

.main-header{
    background: rgb(34,34,34);
    height: 50px;
    border-radius: 5px 5px 0 0;
}

.side-button{
    background-color: transparent;
    color: aliceblue;
    cursor: pointer;
}

.register{
    /* background-color: #1f1f1f; */
    color:#e2dede;
    font-size: 16px;
    word-break: break-all;
}

.register:hover{
    background-color: #121212;
    border-radius: 25px;
    font-size: 17px;
    color:#fff;
    cursor: pointer;
}

.login{
    font-size: 16px;
    border-radius: 25px;
    word-break: break-all;
    
}

.login:hover{
    cursor: pointer;
    font-size: 17px;
    border-radius: 25px;
}


.spotify-playlists h4{
    font-size: clamp(14px, 2vw, 24px);
}

.card-container{
    overflow-x: scroll;
    scrollbar-width: none;
}


/* .card-container::-webkit-scrollbar{
    display: none;
} */

.spotify-card{
   background-color: transparent;
   width: 180px;
   position: relative;
   z-index: 1;
}

.spotify-card:hover{
    background-color: #1f1f1f;
    border-radius: 8px;
    /* position: relative; */
}

.spotify-card .image img{
    border-radius: 10px;
    min-width: 100px;
    min-height: 10px;
    object-fit: cover;
}

.scrollLeftBtn{
    z-index: 2;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    opacity: 0;
}

.scrollRightBtn{
    z-index: 2;
    position: absolute;
    width: 40px;
    height: 40px;
    right: 25px;
    border-radius: 50%;
    opacity: 0;
}

.scrollLeftBtn i, .scrollRightBtn i{
    font-size: 24px;
    line-height: 1;
}

.scrollLeftBtn:hover, .scrollRightBtn:hover{
    background-color: #1f1f1f;
}

.card-container:hover .scrollLeftBtn, .card-container:hover .scrollRightBtn{
    opacity: 1;
}

.play{
    top: 120px;
    left: 120px;
    position: absolute;
    z-index: 1;
    background-color: #1abc54;
    fill: red;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    opacity: 0;
    /* transition: all 0.5s ease-in-out; */
    /* background: #000; */
}

.play i{
    font-size: 24px;
    color:black;
}

.spotify-card:hover .play{
    opacity: 1;
}

.play-bottom{
    bottom: 10px;
    z-index: 50;
    overflow-y: visible;
    /* height: auto; */
}

.playbar{
    /* position: fixed; */
    /* bottom: 10px; */
    border-radius: 10px;
    /* height: auto; */
    background-color: rgb(34,34,34);
    right: 10px;
    left: 0;
}

.seekbar{
    height: 5px;
    background: white;
    /* width: 70%; */
    border-radius: 10px;
    left: 0;
    position: relative;
    cursor: pointer;
    /* bottom: 500px; */
    justify-self: center;
    /* align-self: center; */
}

.circle{
    /* height: 3.5px; */
    /* border: 1px solid red; */
    /* bottom: 0px; */
    top: -3px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    /* transform: translate(-50%, -50%); */
    transition: left 0.5s;
}


.song-button  i, .song-volume i{
    cursor: pointer;
    font-size: 24px;
}


.song-info{
    word-break: break-all;
}


